<!doctype html>
<html>
<head>
  <title>A Madlib!</title>
</head>
<body>
    <h1>Try this Madlib:</h1>
    <form action="/madlib">
        Select a color:
        <select name="color">
            <option value="sapphire">Sapphire</option>
            <option value="emerald">Emerald</option>
            <option value="ruby">Ruby</option>
            <option value="jade">Jade</option>
        </select>
        <br>
        Select a noun:
        <input type="text" name="noun" placeholder="A noun">
        <br>
        Select a person:
        <input type="text" name="person" placeholder="A person">
        <br>
        Select an adjective:
        <input type="text" name="adjective" placeholder="An adjective">
        <br>
        <input type="submit">
    </form>

</body>
</html>
